.reserveringspage{
margin-top: 100px;
}

#submit{
  background-color: var(--Paars);
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  color: var(--Wit);
  font-family: Poppins;
  font-size: 20px;
  width:fit-content;
  height: fit-content;
  transition: .3s;
}

input[type="text"]{
  font-size: 20px;
  font-family: "Poppins";
  margin:0;
  border: 2px solid var(--Lichtgrijs);
  border-radius: 5px;
  padding: 8px 16px;
}

textarea{
  font-size: 20px;
  font-family: "Poppins";
  margin:0;
  border: 2px solid var(--Lichtgrijs);
  border-radius: 5px;
  padding: 8px 16px;
  display: flex;
}


input[type="radio"]{
  display: none;
}

label{
  font-size: 20px;
  font-family: "Poppins";
  margin:0;
}

.labelforbutton{
  border: 2px solid var(--Lichtgrijs);
  border-radius: 5px;
  padding: 8px 16px;
  display: flex;
}


input[type="radio"]:checked + label{
  background-color: var(--Paars);
  color: var(--Wit);
  border: 2px solid var(--Paars);
}


